*.gz
log.*
oldLogs/
postProcessing/
images/
video/
*~
processor*/
0*/
1*/
2*/
3*/
4*/
5*/
6*/
7*/
8*/
9*/
!0.org
constant/extendedFeatureEdgeMesh
*.eMesh
constant/polyMesh/*
!constant/polyMesh/blockMeshDict
constant/cellToRegion
constant/dynamicMeshDict
constant/y
constant/yPlus
*.OpenFOAM
system/sampleDict
__pycache__/
system/decomposeParDict
slurm*
*.pyc
processed/mean_u.csv
processed/mean_v.csv
processed/mean_w.csv
processed/xvorticity.csv
